<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Add a Course</title>
    <script>
        function checkForm(form) {
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            var checkedOne = Array.prototype.slice.call(checkboxes).some(x => x.checked);
            if(!checkedOne)
                alert("Please select a course to add.");
            else
                alert("The selected courses have been successfully added.");
            return checkedOne;
        }
    </script>
</head>
<body>
<div layout:fragment="content">
    <h1 class = "custom-link2 text-center"> Add a Course </h1>
    <div class="card card-body mt-5"  th:if="${not #lists.isEmpty(courses)}">
        <form action="/student/enroll/search" method="post">
            <input type="text" value="" name="courseIdentifier">
            <input type="submit" value="Search" onchange="location.reload()">
        </form>
        <br />
        <form action="/student/enroll/addcourse" method="post" onsubmit="return checkForm(this)">
            <table class="table table-striped table-hover">
                <tr>
                    <th>Select Course to Add</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Instructor</th>
                    <th>Section</th>
                    <th>Location</th>
                    <th>Time</th>
                </tr>
                <tr th:each="course : ${courses}">
                    <td><input type="checkbox" name="courseCheckbox" th:value="${course.id}"/></td>
                    <td th:text="${course.code}"></td>
                    <td th:text="${course.name}"></td>
                    <td th:text="${course.instructor}"></td>
                    <td th:text="${course.section}"></td>
                    <td th:text="${course.location}"></td>
                    <td th:text="${course.time}"></td>
                </tr>
            </table>
            <input class="btn bg-custom btn-block m-auto" type="submit" value="Add the selected courses to my schedule" />
        </form>
    </div>
    <div th:if="${#lists.isEmpty(courses)}">
        <p class="text-center" style="font-size: 20px">You are either currently enrolled in the maximum course load of 5 or there are no available courses to enroll in. Please contact the faculty for more information.</p>
    </div>
</div>
</body>
</html>