<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<div class="cd-schedule-modal__event-info ">
    <font color="#ff8c00"> <b> During:</b></font> <span th:text="${course.time}"></span> <br />
    <font color="#ff8c00"> <b> Location:</b></font> <span th:text="${course.location}"></span> <br />
    <font color="#ff8c00"> <b> Instructor:</b></font> <span th:text="${course.instructor}"></span> <br /><br />
    <font color="#ff8c00"> <b> Description:</b></font> <span th:text="${course.description}"></span> <br />

</div>


</html>