<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" th:fragment="header">
    <div class="container">

        <a th:if="${#authorization.expression('!isAuthenticated()')}"
           class="navbar-brand" href="#" th:href="@{/login}"><i class="fas fa-graduation-cap"></i>    Student Portal</a>

        <a th:if="${#authorization.expression('isAuthenticated()')}"
           class="navbar-brand" href="#" th:href="@{/student/home}"><i class="fas fa-graduation-cap"></i>    Student Portal</a>

        <div>
            <ul class="navbar-nav ml-auto" th:if="${#authorization.expression('!isAuthenticated()')}">
                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/login}">Log In</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/registration}">Register</a>
                </li>

            </ul>

            <ul class="navbar-nav ml-auto" th:if="${#authorization.expression('isAuthenticated()')}">
                <li class="nav-item">
                    <a class="nav-link">My Courses</a>
                </li>

                <li class="nav-item">
                    <a href="/enroll" class="nav-link">Enroll</a>
                </li>

                <li class="nav-item">
                    <a href="/viewschedule" class="nav-link">View Schedule</a>
                </li>

                <li class="nav-item">
                    <a href="/logout" class="nav-link">Logout</a>
                </li>
            </ul>

            </ul>
        </div>
    </div>
</nav>
</body>
</html>